In [1]:
import pandas as pd
import numpy as np

In [2]:
import wrds
conn = wrds.Connection()

WRDS recommends setting up a .pgpass file.
Created .pgpass file successfully.
You can create this file yourself at any time with the create_pgpass_file() function.
Loading library list...
Done

In [ ]:
conn.describe_table(library='crsp', table='dsf')
#permno/date/ret/prc/shrout

Approximately 107663472 rows in crsp.dsf.

,name,nullable,type,comment
0,cusip,True,VARCHAR(8),CUSIP Header
1,permno,True,INTEGER,PERMNO
2,permco,True,INTEGER,PERMCO
3,issuno,True,INTEGER,Nasdaq Issue Number
4,hexcd,True,SMALLINT,Exchange Code Header
5,hsiccd,True,INTEGER,Standard Industrial Classification Code Header
6,date,True,DATE,Date of Observation
7,bidlo,True,"NUMERIC(11, 5)",Bid or Low Price
8,askhi,True,"NUMERIC(11, 5)",Ask or High Price
9,prc,True,"NUMERIC(11, 5)",Price or Bid/Ask Average
10,vol,True,"NUMERIC(10, 0)",Volume
11,ret,True,"NUMERIC(10, 6)",Returns
12,bid,True,"NUMERIC(11, 5)",Bid
13,ask,True,"NUMERIC(11, 5)",Ask
14,shrout,True,DOUBLE PRECISION,Shares Outstanding
15,cfacpr,True,DOUBLE PRECISION,Cumulative Factor to Adjust Prices
16,cfacshr,True,DOUBLE PRECISION,Cumulative Factor to Adjust Shares/Vol
17,openprc,True,"NUMERIC(11, 5)",Open Price
18,numtrd,True,INTEGER,NASDAQ Number of Trades
19,retx,True,"NUMERIC(10, 6)",Returns without Dividends

In [ ]:
conn.describe_table(library='crsp', table='dsi')
#date/vwretd

Approximately 26051 rows in crsp.dsi.

      name  nullable            type                                comment
0     date      True            DATE                    Date of Observation
1   vwretd      True   NUMERIC(9, 6)  Value-Weighted Return-incl. dividends
2   vwretx      True   NUMERIC(9, 6)  Value-Weighted Return-excl. dividends
3   ewretd      True   NUMERIC(9, 6)  Equal-Weighted Return-incl. dividends
4   ewretx      True   NUMERIC(9, 6)  Equal-Weighted Return-excl. dividends
5   sprtrn      True   NUMERIC(9, 6)            Return on the S&P 500 Index
6   spindx      True   NUMERIC(7, 2)             Level of the S&P 500 Index
7   totval      True  NUMERIC(13, 2)                     Total Market Value
8   totcnt      True         INTEGER                     Total Market Count
9   usdval      True  NUMERIC(13, 2)        Market Value of Securities Used
10  usdcnt      True         INTEGER               Count of Securities Used

In [ ]:
conn.describe_table(library='comp', table='funda')
#gvkey, datadate, at, sale, xrd, emp, ppegt, sich, cogs, invt

Approximately 920036 rows in comp.funda.

,name,nullable,type,comment
0,gvkey,True,VARCHAR(6),Global Company Key
1,datadate,True,DATE,Data Date
2,fyear,True,INTEGER,Data Year - Fiscal
3,indfmt,True,VARCHAR(12),Industry Format
4,consol,True,VARCHAR(2),Level of Consolidation - Company Annual Descri...
...,...,...,...,...
943,au,True,VARCHAR(8),Auditor
944,auop,True,VARCHAR(8),Auditor Opinion
945,auopic,True,VARCHAR(1),Auditor Opinion - Internal Control
946,ceoso,True,VARCHAR(1),Chief Executive Officer SOX Certification
947,cfoso,True,VARCHAR(1),Chief Financial Officer SOX Certification

In [4]:
conn.describe_table(library='crsp', table='ccmxpf_linktable')
#gvkey, lpermno, linkdt, linkenddt, linktype

Approximately 85513 rows in crsp.ccmxpf_linktable.

,name,nullable,type,comment
0,gvkey,True,VARCHAR(6),Standard and Poor's Identifier
1,linkprim,True,VARCHAR(1),Primary Link Marker
2,liid,True,VARCHAR(3),Security-level Identifer
3,linktype,True,VARCHAR(2),Link Type Code
4,lpermno,True,DOUBLE PRECISION,Historical CRSP PERMNO Link to COMPUSTAT Record
5,lpermco,True,DOUBLE PRECISION,Historical CRSP PERMCO Link to COMPUSTAT Record
6,usedflag,True,DOUBLE PRECISION,Flag marking whether link is used in building ...
7,linkdt,True,DATE,First Effective Date of Link
8,linkenddt,True,DATE,Last Effective Date of Link

In [ ]:
conn.describe_table(library='crsp', table='msedelist')

In [3]:
conn.describe_table(library='crsp', table='msf')

Approximately 5153763 rows in crsp.msf.

,name,nullable,type,comment
0,cusip,True,VARCHAR(8),CUSIP Header
1,permno,True,INTEGER,PERMNO
2,permco,True,INTEGER,PERMCO
3,issuno,True,INTEGER,Nasdaq Issue Number
4,hexcd,True,SMALLINT,Exchange Code Header
5,hsiccd,True,INTEGER,Standard Industrial Classification Code Header
6,date,True,DATE,Date of Observation
7,bidlo,True,"NUMERIC(11, 5)",Bid or Low Price
8,askhi,True,"NUMERIC(11, 5)",Ask or High Price
9,prc,True,"NUMERIC(11, 5)",Price or Bid/Ask Average
10,vol,True,"NUMERIC(10, 0)",Volume
11,ret,True,"NUMERIC(10, 6)",Returns
12,bid,True,"NUMERIC(11, 5)",Bid
13,ask,True,"NUMERIC(11, 5)",Ask
14,shrout,True,DOUBLE PRECISION,Shares Outstanding
15,cfacpr,True,DOUBLE PRECISION,Cumulative Factor to Adjust Prices
16,cfacshr,True,DOUBLE PRECISION,Cumulative Factor to Adjust Shares/Vol
17,altprc,True,"NUMERIC(11, 5)",Price Alternate
18,spread,True,"NUMERIC(10, 5)",Spread Between Bid and Ask
19,altprcdt,True,DATE,Alternate Price Date
20,retx,True,"NUMERIC(10, 6)",Returns without Dividends

In [3]:
crsp_dsf = conn.raw_sql("""
    select permno, date, ret,prc,shrout
    from crsp.dsf
    where date between '1926-01-01' and '2010-12-31'
    and permno between 10000 and 10060
""")
crsp_dsf.to_csv('crsp_dsf2_sample.csv', index=False)

In [3]:
crsp_dsi = conn.raw_sql("""
    select date, vwretd
    from crsp.dsi
    where date between '1926-01-01' and '2010-12-31'
""")
crsp_dsi.to_csv('crsp_dsi.csv', index=False)

In [13]:
comp_funda = conn.raw_sql("""
    select gvkey, datadate,fyear, at, sale, xrd, emp, ppegt,ppent,pstkrv,txdb, cogs, invt, sich, consol,indfmt, popsrc, datafmt, dp, dpact,capx,oiadp, oibdp, prcc_f, csho,dltt,ib, ceq, dvp, txdi, txdb, seq,dltt
    from comp.funda
    where datadate between '1926-01-01' and '2010-12-31'
""")
comp_funda.to_csv('comp_funda.csv', index=False)

In [3]:
linktable = conn.raw_sql("""
    select gvkey, lpermno, linkdt, linkenddt, linktype
    from crsp.ccmxpf_linktable
    where linktype in ('LU', 'LC')   
    and linkprim in ('P', 'C')                  
""")
linktable.to_csv('linktable.csv', index=False)

In [5]:
crsp_msf = conn.raw_sql("""
    select permno, date, prc, shrout
    from crsp.msf
    where date between '1926-01-01' and '2010-12-31'
    and EXTRACT(month FROM date) = 12
""")
crsp_msf.to_csv('crsp_msf.csv', index=False)